<div class="container mt40 well">
  <div class="col-sm-3">
    <h1>New Cat Gif</h1>
    <%= render 'form' %>
    <%= link_to 'Home', cat_gifs_path %>
  </div>
  <div class="col-sm-9" id="aiko">
    <img src="https://photos-1.dropbox.com/t/2/AABZCILwuJReRBAEP2AANYBcrPLp4ni1U0G78SZYYkYicA/12/42858996/jpeg/32x32/1/1442901600/0/2/2015-09-18%2021.18.36.jpg/CPTztxQgASACIAMgBCAFIAYgBygCKAc/gJFq4vnX-h5PDXq0XNC32sP8t7uXe_yWaU5JbX-OnaU%2C4ZYv7F2w0IVThRcvqsj8uDHKGO4RhBppXmxJF7EsJ_I?size=1600x1200&size_mode=2" alt="">
  </div>
</div>
